<p>Dear {{ up.user.first_name }}, <br>

You have successfully registered on the ANC Portal. <br><br>

The details provided by you are as follows: <br>
Contact Number- {{ up.phone }} <br>
Personal Pin- {{ up.secret_pin }} <br>

Use your personal pin to print your order receipts in ANC. <br><br>

P.S. This is an automated email service. Any replies to this email are NOT monitored.  <br>
For any technical queries please contact <a href="https://www.facebook.com/codingclubpilani">Coding Club BITS, Pilani.</a> <br>
